# i3 config file (v4)
#
# Please see http://i3wm.org/docs/userguide.html for a complete reference!

# Font for window titles. Will also be used by the bar unless a different font
# is used in the bar {} block below.
font pango:monospace 8

# make chromium always start in fullscreen (chromium-browser --class chromium)
for_window [class="^chromium$"] fullscreen

# restart system
bindsym Control+Mod1+Shift+F12 exec /usr/bin/systemctl restart

# Disable keyboard shortcuts that break Chromium's kiosk mode experience
# Mod1 = Alt
bindsym Control+N nop # new window
bindsym Control+Shift+N nop # new incognito window (should be disabled by policy)
bindsym Control+Q nop # quit
bindsym Control+Shift+Q nop # quit
bindsym Mod1+F4 nop # quit
bindsym Control+W nop # close tab
bindsym Control+F4 nop # close tab
bindsym Control+T nop # new tab
bindsym Control+Shift+T nop # reopen last tab and switch to it
bindsym Control+S nop # save page
bindsym Control+D nop # bookmark this page
bindsym Control+Shift+D nop # save all open tabs as bookmark folder
bindsym Control+H nop # history panel (should be disabled by policy)
bindsym Control+J nop # downloads panel (should be disabled by policy)
bindsym Control+U nop # page source
bindsym Control+P nop # print
bindsym F11 nop # toggle fullscreen
bindsym F12 nop # developer tools (should be disabled by policy)
bindsym Control+Shift+J nop # developer tools (should be disabled by policy)
bindsym Control+Shift+O nop # open bookmarks manager
bindsym Control+Shift+B nop # show bookmarks bar (should be disabled by policy)
bindsym Mod1+F nop # open Chrome window (should be disabled by policy)
bindsym Mod1+E nop # open Chrome window (should be disabled by policy)
bindsym F10 nop # open Chrome window (should be disabled by policy)
bindsym Control+Shift+Delete nop # open Clear Browsing Data options
bindsym F1 nop # opens Help in new window

# Disable Mouse shortcuts
bindsym --whole-window Control+button1 nop # open link in new background tab
bindsym --whole-window Control+Shift+button1 nop # open link in new foreground tab
bindsym --whole-window Shift+button1 nop # open link in new window
bindsym --whole-window Shift+button3 nop # open link in new window (middle-click)
bindsym --whole-window Mod1+button1 nop # download link target (should be disabled by policy)

